button{
    margin-top: 15px;
    background-color: white;
    border-color: white;
    border-radius: 15px;
    height: 38px;
    color: rgb(65, 128, 128);
}

button:hover{
    color: black;
    height: 40px;
}

a:hover{
    color: black;
}

.atendimento{
    height: 500px;
}

h1{
    margin-top: 50px;
    color:  rgb(65, 128, 128);
    font-size: 50px;
    display: flax;
    margin-left: 40px;
}

.boxterap{
    height: 170px;
    width: 170px;
    background-color: rgb(65, 128, 128);
    margin-left: 20px;
    margin-bottom: 30px;   
    border-radius: 20px;
    text-align: center;
    color: white;
}

.boxbox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-left: 30px;
}

.boxtwo{
    display: flex;
}

span{
    display: inline-block;
    margin-bottom:  5px;
}

h2{
    color: black;
    font-size: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 60px;
}

.terapiaporassinatura{
    background-color: rgb(65, 128, 128);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h3{
    margin-bottom: 20px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.título{
    width: 100%;
    background-color: rgb(65, 128, 128);
    margin-top: 50px;
    text-align: center;
    }

.título h3{
    margin-top: 70px;
    margin-left: 30px;
    font-size: 60px;
    color: black
}

.título p{
    color: black;
    font-size: 22px;
    text-align: center;
    margin-left: auto;
}



.atendimento strong{
    color:  rgb(65, 128, 128);
}

.card-title{
    font-size: 30px;
}

.card strong{
    font-size: 60px;
}

.imagem img{
    height: 370px; 
    border-radius: 25px; 
    display: flex; 
    margin: auto; 
    margin-top: 30px;
}

.boxone{
    background-color: rgb(65, 128, 128);
    align-items: center; 
    display: flex; 
    margin: auto;
}

@media screen and (max-width:1020px){
    .boxone{
        display:block;
        text-align: center;
        flex-direction: column;
    }

    .header{
        flex-direction: column;
    }

    .imagem img{
        height: 290px;
    }
    body{
        text-align: center;
    }

    h2{
        font-size: 30px;
        margin-top: 10px;
    }
    .boxbox{
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .boxtwo{
        display: flex;
    }

    .título p{
        max-width: 400px;
        text-align: center;
    }

    .título{
        width: 100%;
    }
    .boxterap{
        height: 160px;
        width: 160px;
}


}
