button{
    margin-top: 15px;
    background-color: white;
    border-color: white;
    border-radius: 15px;
    height: 38px;
    color: rgb(65, 128, 128);
}

button:hover{
    color: black;
    height: 40px;
}

a:hover{
    color: black;
}

.atendimento{
    height: 500px;
}

h1{
    margin-top: 50px;
    color:  rgb(65, 128, 128);
    font-size: 50px;
    display: flax;
    margin-left: 40px;
}

.boxterap{
    height: 180px;
    width: 170px;
    background-color: rgb(65, 128, 128);
    margin-left: 20px;
    margin-bottom: 30px;   
    border-radius: 20px;
    text-align: center;
    color: white;
}

.boxbox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.boxtwo{
    display: flex;
    align-items: center;
    justify-content: center;
}

span{
    display: inline-block;
    margin-bottom:  5px;
}

.partetwo {
    margin-top: 300px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.partetwo img{
    height: 450px;
    border-radius: 10%;
    margin-right: 90px;
}

h2{
    color: black;
    font-size: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 60px;
}

.terapiaporassinatura{
    background-color: rgb(65, 128, 128);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h3{
    margin-bottom: 20px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;

}

.card textt{
    text-align: none;
    align-items: none;
    justify-content: none;
}


.título{
    width: 100%;
    background-color: rgb(65, 128, 128);
    margin-top: 50px;
    text-align: center;
    }

.título h3{
    margin-top: 70px;
    margin-left: 30px;
    font-size: 60px;
    color: black
}

.título p{
    color: black;
    font-size: 22px;
    text-align: center;
    margin-left: auto;
}

.space{
    height: 20px;
    margin-bottom: 20px;
}

.atendimento strong{
    color:  rgb(65, 128, 128);
}

.card-title{
    font-size: 30px;
}

.preço strong{
    font-size: 60px;
}

.imagem img{
    height: 370px; 
    border-radius: 25px; 
    display: flex; 
    margin: auto; 
    margin-top: 30px;
}

.boxone{
    background-color: rgb(65, 128, 128);
    align-items: center; 
    display: flex; 
    margin: auto;
}

.card:hover{
    border-color:rgb(37, 74, 145);
    border-radius: 15px;
}

.atendimento p{
    margin-left: 30px;
}


@media screen and (max-width:1020px){
    .boxone{
        display:block;
        text-align: center;
        flex-direction: column;
    }

    .header{
        flex-direction: column;
    }

    .imagem img{
        height: 290px;
    }
    body{
        text-align: center;
    }

    h2{
        font-size: 30px;
        margin-top: 10px;
    }
    .boxbox{
        display: block;
        align-items: center;
        justify-content: center;
    }

    .boxtwo{
        display: flex;
    }

    .título p{
        max-width: 400px;
        margin: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .título{
        width: 100%;
    }
    .boxterap{
        height: 160px;
        width: 160px;
}   
    .terapiaporassinatura{
        display: block;
        justify-content: center;
        margin-top: 30px;
    }
    .card{
        display: block;
    }

    .título h3{
        margin-left: none;
        font-size: 50px;
    }

    .card{
        width: 300px;
    }

    .atendimento{
        text-align: center;
    }
    
    .partetwo{
        display: block;
        margin-top: 30px;
    }

    .partetwo img{
        height: 300px;
    }
    

}


.imagem, .text, .partetwo, .card{
    visibility: hidden;
}
